.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .main .logo{
    font-size: 25px;
    color: #664f3b;
    font-weight: 700;

    span{
        color: #e57818;
    }
}

.navbar .main .logo2{
    font-size: 10px;
    color: #e57818;
    font-weight: 700;

    span{
        color: #664f3b;
    }
};

.navbar .profile{
    width: 40px !important;
    height: 40px;
}